/Proyecto NetBeans/Bolsa de Empleo/nbproject/private/
/Proyecto NetBeans/VersionTres/Proyecto#1/genericjdbc/build/
/Proyecto NetBeans/VersionTres/Proyecto#1/genericjdbc/dist/
/Proyecto NetBeans/VersionTres/Proyecto#1/ProyectoP4/dist/